# Python (кэш компиляции)
__pycache__/
*.py[cod]
*$py.class

# Окружение (если используешь venv)
venv/
env/
.env

# Настройки VS Code
.vscode/

# Системные файлы
.DS_Store
Thumbs.db

# Расширения Pygame/Логи (если появятся)
*.log